doctype html 
html 
    head 
        meta(charset="UTF-8")
        title Create Listing Fail 
        link(rel="stylesheet", href="/css/main.css", type="text/css")
    
    body 
        header 
            include nav.pug 

        main 
            h1 Failed Adding Listing